
#banner
  .banner_content
    %h1 File Cabinet
    %p My Work always organized.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callouts_inner
    .wrapper
      .callout
        %h2 Organize
        %p هذه هي فقرتي لموقع الويب الخاص بي. أنا لا أعرف ماذا أضع هنا

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
